<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vandenrobotics.saga2018">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/saga2018"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Saga2018">
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/Saga2018wAB">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.OptionScreenActivity"
            android:theme="@style/Saga2018wAB" />
        <activity
            android:name=".activities.PitScoutingActivity"
            android:label="@string/title_activity_pit_scouting"
            android:theme="@style/Saga2018" />
        <activity android:name=".activities.ScoutActivity" />
        <activity android:name=".activities.MatchActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".activities.TypeActivity" />
        <activity android:name=".activities.OwnershipActivity" />
        <activity android:name=".activities.VaultActivity" />
        <activity android:name=".activities.VaultScoutingActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".activities.OwnershipScoutingActivity"
            android:screenOrientation="landscape"/>
    </application>

</manifest>